body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body > #root > div > #home-page-container {
  height: 100vh;
}
html{
  background-color:antiquewhite;
  height: 100vh;
}

@media screen and (min-width: 580px) {
  #home-page-container{
    background-image: url('https://static.tildacdn.com/tild3363-3234-4763-b662-326635373032/NGN_LOGO-02.png') ;
    background-position:left top;
    background-size:12em;
    background-repeat:no-repeat;
    background-color:antiquewhite;
    
  }
}  

@media screen and (max-width: 580px ) {
  #home-page-container{
    background-image: url('https://static.tildacdn.com/tild3363-3234-4763-b662-326635373032/NGN_LOGO-02.png') ;
    background-position:left top;
    background-size:8em;
    background-repeat:no-repeat;
    background-color:antiquewhite;
    
  }
}

#order-button{
  width: 100%;
}

.meeting-rooms:hover{
  background-color: #14A44D;
  color: white;
}

.meeting-rooms{
  background-color:thistle;
  color: black;
  text-decoration: none;
  font-family:'Times New Roman', Times, serif ;
}

.meeting-links{
  color:unset;
}
.meeting-links:hover{
  color:white;
}

@media screen and (max-width: 580px ) {
  #give-order{
    height: 100vh;
    background-image: url('https://static.tildacdn.com/tild3363-3234-4763-b662-326635373032/NGN_LOGO-02.png') ;
    background-position:right bottom;
    background-size:8em;
    background-repeat:no-repeat;
    background-color:antiquewhite;
    
  }

}
@media screen and (min-width: 580px) {
  #give-order{
    height: 100vh;
    background-image: url('https://static.tildacdn.com/tild3363-3234-4763-b662-326635373032/NGN_LOGO-02.png') ;
    background-position: 85% 100%;
    background-size:12em;
    background-repeat:no-repeat;
    background-color:antiquewhite;
  }
}  

#order-list-item{
  background-color:thistle;
  color: black;
}

#order-list-item:hover{
  background-color: #14A44D;
  color: white;
}
